In [10]:
import pandas as pd

In [11]:
df_train = pd.read_csv("california_housing_train (1).csv")
df_train.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0

In [12]:
df_test = pd.read_csv("california_housing_test (1).csv")
df_test.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0

In [13]:
df_train2 = df_train[["housing_median_age", "population", "median_house_value"]]
df_train2.head()

   housing_median_age  population  median_house_value
0                15.0      1015.0             66900.0
1                19.0      1129.0             80100.0
2                17.0       333.0             85700.0
3                14.0       515.0             73400.0
4                20.0       624.0             65500.0

In [14]:
df_test2 = df_test[["housing_median_age", "population", "median_house_value"]]
df_test2.head()

   housing_median_age  population  median_house_value
0                27.0      1537.0            344700.0
1                43.0       809.0            176500.0
2                27.0      1484.0            270500.0
3                28.0        49.0            330000.0
4                19.0       850.0             81700.0

In [15]:
df_train2_np = df_train2.to_numpy()
x_train, y_train = df_train2_np[:,:-1], df_train2_np[:,-1]
x_train.shape, y_train.shape

((17000, 2), (17000,))

In [17]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error

In [19]:
linear_model = LinearRegression().fit(x_train, y_train)
linear_model_predict = linear_model.predict(x_train)
mean_absolute_error(linear_model_predict, y_train)

91064.44407843439

In [20]:
df_test2_np = df_test2.to_numpy()
x_test, y_test = df_test2_np[:,:-1], df_test2_np[:,-1]
x_test.shape, y_test.shape

((3000, 2), (3000,))

In [21]:
linear_model_predict = linear_model.predict(x_test)
mean_absolute_error(linear_model_predict, y_test)

89391.632907449

In [27]:
from sklearn.ensemble import RandomForestRegressor

rfg_model = RandomForestRegressor(n_estimators=7, max_depth=5).fit(x_train, y_train)
rfg_model_train_predict = rfg_model.predict(x_train)
rfg_model_test_predict = rfg_model.predict(x_test)
mean_absolute_error(rfg_model_train_predict, y_train), mean_absolute_error(rfg_model_test_predict, y_test)

(88830.91193556604, 87589.31368212063)